<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}">
<body>
    <h1>Transactions Uploaded</h1>

        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {%for f in form%}
                <tr>
                    <td> {{f.transaction_date}} </td>
                    <td> {{f.amount}} </td>
                    <td> {{f.description}} </td>
                    <td> {{f.category}} </td>
                    <td> {{f.account}} </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    <h2><a href="{{ url_for('home') }}">Click here to go Home</a></h2>
</body>
</html>